<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.sprout.dao.DocumentFileManagerDAO">

	<insert id="insertDocumentFile" parameterType="DocumentFile">
		insert into DOCUMENT_FILE
		(
			DOCUMENT_FILE_NUM,
			DOCUMENT_FILE_ORIGINALFILENAME,
			DOCUMENT_FILE_LOCATION,
			DOCUMENT_FILE_EXTENSION,
			DOCUMENT_FILE_DATE,
			DOCUMENT_BOARD_NUM
		)
		values
		(
			DOCUMENT_FILE_NUM_SEQ.nextval
			, #{document_file_originalfileName}
			, #{document_file_location}
			, #{document_file_extension}
			, sysdate
			, #{document_board_num}
		)
	</insert>
	
	<select id="selectFolderNum" resultType="DocumentFolder">
		select *
		from DOCUMENT_FOLDER
		where document_folder_title = #{folder_title}
	</select>
	
	<insert id="insertDocumentBoard" parameterType="DocumentBoard">
		insert into DOCUMENT_BOARD
		(
			DOCUMENT_BOARD_NUM,
			DOCUMENT_BOARD_TITLE,
			DOCUMENT_BOARD_CONTENT,
			DOCUMENT_FOLDER_NUM
		)
		values
		(
			DOCUMENT_BOARD_NUM_SEQ.nextval
			, #{document_board_title}
			, #{document_board_content}
			, #{document_folder_num}
		)
	</insert>
	
	<select id="selectBoardNum" resultType="DocumentBoard">
		select *
		from DOCUMENT_BOARD
		where document_board_title = #{board_title}
	</select>
	
	<insert id="insertDocumentFolder" parameterType="DocumentFolder">
		insert into DOCUMENT_FOLDER
		(
			DOCUMENT_FOLDER_NUM,
			MAINPROJECT_PROJECTNUM,
			DOCUMENT_FOLDER_TITLE
		)
		values
		(
			DOCUMENT_FOLDER_NUM_SEQ.nextval
			, #{mainProject_projectNum}
			, #{document_folder_title}
		)
	</insert>
	
	<select id="selectfolderList" resultType="DocumentFolder">
		select *
		from document_folder
	</select>
	
	<select id="selectSameFolderBoardList" resultType="DocumentBoard">
		select *
		from DOCUMENT_BOARD
		where DOCUMENT_FOLDER_NUM = #{folder_num}
	</select>
	
	<select id="selectOneBoard" resultType="DocumentBoard">
		select *
		from DOCUMENT_BOARD
		where DOCUMENT_BOARD_NUM = #{board_num}
	</select>
	
	<select id="selectFiles" resultType="DocumentFile">
		select *
		from DOCUMENT_FILE
		where DOCUMENT_BOARD_NUM = #{board_num}
	</select>
	
	<!-- <select id="selectAllFolder" resultType="Map">
		select 
			dfd.DOCUMENT_FOLDER_TITLE,
			dfd.DOCUMENT_BOARD_NUM,
			db.DOCUMENT_BOARD_TITLE,
			db.DOCUMENT_BOARD_CONTENT,
			db.DOCUMENT_FILE_NUM
		from
			document_folder dfd,
			document_board db
		where
			dfd.DOCUMENT_BOARD_NUM = db.DOCUMENT_BOARD_NUM
	</select> -->
	
	
</mapper>