<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> <!-- 이부분 주의 오류떠도 자바에서 안잡아줌. -->
<mapper namespace="com.team.sprout.dao.MainProjectDAO">

	<insert id="mainProjectRegist" parameterType="MainProject">
		insert into MAINPROJECT (
			mainproject_projectnum,
			mainproject_title,
			mainproject_memo
		)values(
			#{mainproject_projectnum}
			,#{mainproject_title}
			,#{mainproject_memo}
		)

	</insert>

	<select id="projectList" resultType="MainProject" parameterType="int">
		select
			*
		from
			MAINPROJECT m, PROJECTMEMBER p
		where
			m.MAINPROJECT_PROJECTNUM = p.MAINPROJECT_PROJECTNUM
		and
			p.MEMBER_NUM =#{member_num} order by p.projectMember_num
	</select>
	
	<!--게시판에 리스트 출력하기 위한, 눌르면 출력하는 게시판형태로   -->
	<select id="forgoproject" resultType="MainProject" parameterType="String">
	
	select * from MAINPROJECT where  mainproject_projectnum = #{mainproject_projectnum}
	
	</select>
	<!-- 참여인원을 넣기 위한 것 -->
	<select id="formembername" resultType="Member" parameterType="int">
	
	select*from member where member_num = #{member_num} 
	
	</select>
	
	
	
	
</mapper>