<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> <!-- 이부분 주의 오류떠도 자바에서 안잡아줌. -->
<mapper namespace="com.team.sprout.dao.ProjectMemberDAO">

	<insert id="ProjectMemberRegist" parameterType="ProjectMember">
		insert into projectMember(
			projectMember_num
			,MainProject_ProjectNum
			,member_num
			,member_rank)
		values(
			projectMember_SEQ.nextval
			,#{MainProject_ProjectNum}
			,#{member_num}
			,#{member_rank}
		)

	</insert>
	

		<!-- 특정 메인프로젝트에 속해있는 사람들을 찾아옵니다. -->
		<select id="projectmemberSelectAll" resultType="Member" parameterType="String">
	
 select *
 from member 
 where member_num 
 in (select pr1.member_num from projectMember pr1 where pr1.MainProject_ProjectNum = #{mainProjectNum}) order by member_name
 
	</select>
	<!-- 프로젝트 리더를 찾기 위한 메서드  -->
	<select id="findManager" resultType="ProjectMember" parameterType="String">
	select member_rank from projectmember where MainProject_ProjectNum =#{MainProject_ProjectNum}
	
	</select>
	
	<!-- 프로젝트 이름을 찾기 위한 메서드 -->

	<select id="findProjectName" resultType="MainProject" parameterType="String">
  	select MainProject_title from MainProject where MainProject_ProjectNum = #{MainProject_ProjectNum}

	</select>
	
<!--이미 프로젝트에 가입되어 있는 사람 확인 메서드   -->
		<select id="findAlreadynum" resultType="ProjectMember" parameterType="int">
  	select *from projectMember where member_num = #{member_num}

	</select>
	
	
	<select id ="findInProjectNum" resultType="ProjectMember" parameterType="String" >
	select* from projectMember  where mainproject_projectnum = #{mainproject_projectnum}
	</select>

	<insert id="registNotice" parameterType="Notice">
	
	insert into notice(
	notice_num,notice_content,notice_date,MainProject_ProjectNum,memberRank_num)
	values(notice_seq.nextval,#{notice_content},sysdate,#{MainProject_ProjectNum},#{memberRank_num})
		</insert>
		
	<select id="noticeList" resultType="Notice" parameterType="String">
	
	select * from notice where MainProject_ProjectNum = #{MainProject_ProjectNum}
	</select>	
<!-- 강퇴하는 메서드 -->
<delete id="kickMember" parameterType="ProjectMember">

delete from ProjectMember where member_num = #{member_num} and MainProject_ProjectNum =#{MainProject_ProjectNum}
</delete>


</mapper>