<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> <!-- 이부분 주의 오류떠도 자바에서 안잡아줌. -->
<mapper namespace="com.team.sprout.dao.WantedBoardDAO">

	
	<select id="selectAll_crawlling" resultType="WantedBoard" parameterType="Map">
		select 
			*
		from 
			wantedBoard
		where
			WANTEDBOARD_SOURCE = 0
		and
			<choose>
				<when test="searchItem == 'WANTEDBOARD_TITLE'">WANTEDBOARD_TITLE</when>
				<when test="searchItem == 'WANTEDBOARD_DATE'">WANTEDBOARD_DATE</when>
				<when test="searchItem == 'WANTEDBOARD_CONTENT'">WANTEDBOARD_CONTENT</when>
			</choose>
		like
			'%' || #{searchWord} || '%'
		order by
			WANTEDBOARD_NUM
	</select>
	
	
	<select id="selectAll_DB" resultType="WantedBoard">
		select		*
		from		wantedBoard
		where		WANTEDBOARD_SOURCE = 1
	</select>


	<select id="selectOneBoard" resultType="WantedBoard">
		select 		*
		from		wantedBoard
		where		WANTEDBOARD_TITLE = #{string}
	</select>

	<select id="selectOneBoard_by_id" resultType="WantedBoard" parameterType="String">
		select 		*
		from		wantedBoard
		where		wantedBoard_num = #{wantedBoard_num}
	</select>
	
	<insert id="insertBoard" parameterType="WantedBoard">
		insert into wantedBoard(
			WANTEDBOARD_NUM,
			WANTEDBOARD_FROM,
			WANTEDBOARD_TITLE,
			WANTEDBOARD_CONTENT,
			WANTEDBOARD_DATE,
			WANTEDBOARD_HITCOUNT,
			wantedboard_source
		)
		values (
			WANTEDBOARD_SEQ.nextval,
			#{wantedBoard_from},
			#{wantedBoard_title},
			#{wantedBoard_content},
			#{wantedBoard_date},
			#{wantedBoard_hitCount},
			#{wantedboard_source}
		)
	</insert>
	
	<insert id="insertBoarddirectly" parameterType="WantedBoard">
		insert into wantedBoard(
			WANTEDBOARD_NUM,
			WANTEDBOARD_FROM,
			WANTEDBOARD_TITLE, 
			WANTEDBOARD_CONTENT,
			WANTEDBOARD_DATE,
			WANTEDBOARD_HITCOUNT,
			APPLYBOARD_NUM,
			wantedboard_source
		)
		values (
			WANTEDBOARD_SEQ.nextval,
			#{wantedBoard_from},
			#{wantedBoard_title}, 
			#{wantedBoard_content},
			sysdate,
			#{wantedBoard_hitCount},
			#{applyBoard_num},
			#{wantedboard_source}
		)
	</insert>
	
	<delete id="deleteBoard" parameterType="String">
		delete from		wantedBoard
		where			WANTEDBOARD_TITLE = #{wantedBoard_title}
	</delete>
	
	<delete id="deleteOneBoard_by_id" parameterType="String">
		delete from		wantedBoard
		where			wantedBoard_num = #{wantedBoard_num}
	</delete>
	
	<select id="totalBoardCount" resultType="int">
 		 select		count(*) 
 		 from		wantedBoard
 		 where		${searchItem}
 		 like		'%' || #{searchWord} || '%'
 	</select>
 	
 	<select id="select_last_seq" resultType="int">
 		select max(wantedBoard_num) from wantedBoard
 	</select>	
 	
 	<update id="update_ApplyBorad" parameterType="WantedBoard">
 		update	wantedBoard
		set		applyBoard_num = #{applyBoard_num}
		where	wantedBoard_num = #{wantedBoard_num}
 	</update>

</mapper>