<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> <!-- 이부분 주의 오류떠도 자바에서 안잡아줌. -->
<mapper namespace="com.team.sprout.dao.WorkSpaceDAO">

<insert id="addPostit" parameterType="Postit">
	insert into postit
	values(
		POSTIT_SEQ.nextval,
		#{MainProject_ProjectNum},
		#{postit_top},
		#{postit_left},
		#{postit_color},
		#{postit_shape},
		#{postit_content}
	)
</insert>

<select id="getPostitNum" resultType="Int">
	select max(postit_num)
	from postit
</select>

<select id="getPostitList" resultType="Postit" parameterType="String">
	select * from postit where MainProject_ProjectNum=#{MainProject_ProjectNum}
</select>

<update id="postitPositionUpdate" parameterType="Postit">
	update postit 
	set 
		postit_top=#{postit_top},
		postit_left=#{postit_left}
	where
		postit_num=#{postit_num}
</update>

<update id="postitContentSave" parameterType="Postit">
	update postit 
	set 
		postit_content=#{postit_content}
	where
		postit_num=#{postit_num}
</update>

<delete id="deletePostit" parameterType="Int">
	delete from postit where postit_num=#{postit_num}
</delete>
	
</mapper>