<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<typeAliases>
		<typeAlias type="com.team.sprout.vo.Member" alias="Member" />
		<typeAlias type="com.team.sprout.vo.MainProject" alias="MainProject" />
		<typeAlias type="com.team.sprout.vo.ProjectMember" alias="ProjectMember" />
		
	</typeAliases>
	<mappers>
		<mapper resource="mappers/memberMapper.xml" />
		<mapper resource="mappers/mainProjectMapper.xml" />
		<mapper resource="mappers/projectMemberMapper.xml" />

	</mappers>
</configuration>
