<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>

	<typeAliases>
		<typeAlias type="com.team.sprout.vo.MainProject" alias="MainProject" />
		<typeAlias type="com.team.sprout.vo.Member" alias="Member" />
		<typeAlias type="com.team.sprout.vo.ProjectMember" alias="ProjectMember" />
		<typeAlias type="com.team.sprout.vo.Postit" alias="Postit" />
		<typeAlias type="com.team.sprout.vo.ProjectContent" alias="ProjectContent" />
		<typeAlias type="com.team.sprout.vo.Notice" alias="Notice" />
		<typeAlias type="com.team.sprout.vo.WantedBoard" alias="WantedBoard" />
		<typeAlias type="com.team.sprout.vo.ProjectFile" alias="ProjectFile" />
		<typeAlias type="com.team.sprout.vo.ChatRoom" alias="ChatRoom" />
		<typeAlias alias="Message" type="com.team.sprout.vo.Message"/>

		<!--web-->
		<typeAlias alias="Text" type="com.team.sprout.vo.Text"/>
		<typeAlias alias="UpDown" type="com.team.sprout.vo.UpDown"/>
		
		
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/memberMapper.xml" />
		<mapper resource="mappers/mainProjectMapper.xml" />
		<mapper resource="mappers/projectMemberMapper.xml" />
		<mapper resource="mappers/workSpaceMapper.xml" />
		<mapper resource="mappers/projectContentMapper.xml" />
		<mapper resource="mappers/wantedBoardMapper.xml" />
		<mapper resource="mappers/fileManagerMapper.xml" />
		<mapper resource="mappers/updownMapper.xml"/>
		<mapper resource="mappers/textMapper.xml"/>
	</mappers>
</configuration>
