@font-face{
    font-family:'binggrae';
    src:url('../font/Binggrae2.ttf') format('truetype');
}

@font-face{
    font-family:'bada';
    src:url('../font/BusanBada.ttf') format('truetype');
}

.fontBold_1{
	 font-weight: 500;
}

.fontSize60{
	font-size:160%;
}

.fontSize40{
	font-size:140%;
}

.fontSize20{
	font-size:120%;
}

.wrapper{
	font-family:'binggrae', 'bada','Serif';
	font-size:110%;
    font-weight: 100;
    display: flex;
}

.sbd2{
	border:2px solid #6079a0;
}

.sbd1{
	border:1px solid #6079a0;
}

/*=========모든 컨텐츠에 사용하는 div==========*/

.contentItem{
    padding: 0px;
}

/*==================왼쪽===================*/

.sideSpace{
    flex: initial;
    display: flex;
    flex-direction: column;
    min-width: 250px;
    width:300px;
}

.sideSpace_top{
    flex: initial;
    height: 150px;
    
}

.webLogo{
    width: 100%;
    height: auto;
}

.sideSpace_bottom{
    flex: 1;
}

.communicationBar{
    min-width: 250px;
    height:100%
}

/*===================메인=================*/

.mainSpace{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.mainSpace_top{
    flex: initial;
    display: flex;
}

.mainSpace_top_side{
    flex:1;
}

.mainSpace_top_center{
    flex:initial;
}

.projectName{
    margin-top:20px;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    min-width: 300px;
}

.myInfo{
	position: absolute;
    width: 15%;
    height: 8%;
    top: 5%;
    left: 83%;
}

.mainSpace_bottom{
    flex: 1;
    display: flex;
}

.contentSpace_side{
    flex: 1;
}

.contentSpace{
    flex: initial;
    display: flex;
    flex-direction: column;
}

.timeTable{
    flex: 1;
    margin:10px;
    padding:20px;
}

.fileManager{
    flex: 1;
    margin:10px;
    padding:20px;
}

.contentSpace_right{
    flex: initial;
}

.modalBlack{
	background-color:black;
	opacity: 0.5;
	width:100%;
	height:1000px;
}

/* =============화이트보드================= */

.layer {
    position: absolute;
    width: 40%;
    left: 50%;
    margin-left: -20%; /* half of width */
    height: 300px;
    top: 50%;
    margin-top: -150px; /* half of height */
    overflow: auto;
}

.hidden{
	display:none;
}

/* ================파일 메니저================== */

.fileManager {
	flex: 1;
	margin: 10px;
	padding:10px;
}

/* =================타임 테이블=================== */

.pop-layer .pop-container {
  padding:20px;
  height:auto;
}

.pop-layer p.ctxt {
  color: #666;
  height:100%;
  width:100%;
}

.pop-layer .btn-r {
  width: 100%;
  height: 10%;
  padding-top: 10px;
  border-top: 1px solid #DDD;
  text-align: right;
}

.pop-layer {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 35%;
  height: 55%;
  background-color: #fff;
  border: 5px solid #3571B5;
  z-index: 10;
}

.dim-layer {
  display: none;
  position: fixed;
  _position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.dim-layer .dimBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .5;
  filter: alpha(opacity=50);
}

.dim-layer .pop-layer {
  display: block;
}

.btn-layerClose {
  display: inline-block;
  height: 25px;
  padding: 0 14px 0;
  border: 1px solid #304a8a;
  background-color: #3f5a9d;
  font-size: 13px;
  color: #fff;
  line-height: 25px;
}

.pop-conts{
	width:100%;
	height:100%;
}

.btn-layerClose:hover {
  border: 1px solid #091940;
  background-color: #1f326a;
  color: #fff;
}