.wrapper{
}

.fileManagerTable {
	width:100%;
	padding:10px;
	max-height: 500px;
	overflow-y: auto;
}

.file {
	
}

.folder {
	
}

#closeFolderMessage{
	color:#f23a3a;
}

#fileImageBox{
	position: absolute;
}

#fileImage{
	width: 200px;
    height: auto;
}
