@font-face{
    font-family:'binggrae';
    src:url('../font/Binggrae2.ttf') format('truetype');
}

@font-face{
    font-family:'bada';
    src:url('../font/BusanBada.ttf') format('truetype');
}

.fontBold_1{
	 font-weight: 500;
}

.fontSize60{
	font-size:160%;
}

.fontSize40{
	font-size:140%;
}

.fontSize20{
	font-size:120%;
}

.fontDefault{
	font-family:'Serif';
}

.wrapper {
	font-family:'binggrae', 'bada','Serif';
	font-size:110%;
    font-weight: 100;
    height:1000px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right,#f4f8ff, #e0ebff, #f4f8ff) fixed;
}

.sbd2{
	border:2px solid #6079a0;
}

.sbd1{
	border:1px solid #6079a0;
}

.bgwhite{
	background-color: white;
}

#loader{
	text-align:center;
	color:white;
}

.loader{
	position:absolute;
	top:40%;
	left:40%;
	z-index: 5;	
}

.loaderImg{
	width:30%;
	height:auto;
	z-index: -1;
	filter:brightness(130%);
}

.loaderBack{
	position: absolute;
	left:0;
	top:0;
	opacity: 0.3;
	background-color:black;
	width:100%;
	height:1300px;
	z-index: 3;
}

/*=========모든 컨텐츠에 사용하는 div==========*/
.contentItem {
    padding: 0;
}

/* ==================스크롤================== */

::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
		
::-webkit-scrollbar{
	width: 12px;
	background-color: #F5F5F5;
}
		
::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

/*==================상단 영역=================*/

.topSpace{
   display: flex; 
}

.topSpace_center{
    flex: initial;
    text-align:center;
    padding: 10px;
}

.topSpace_side{
    flex: 1;
}

.webLogo{
    width:70%;
    height:70%;
}

/*===============메인 컨텐트 영역==============*/

.content_space {
    flex: initial;
    display: flex;
}

.content_space_left {
    flex: 1;
}

.content_space_center {
    flex: initial;
}

.content_space_right {
    flex: 1;
}

/*==============로그인=================*/
.loginBox {
    display: :flex;
    flex-direction: column;
    padding: 20px;
}

.loginBox_inner_top {
    flex: 1;
}

.loginBox_inner_center {
    flex: initial;
    padding:35px;
}

.loginBox_inner_right {
    flex: 1;
}

.checkBox_space{
	display:flex;
	text-align-last: left;
	margin-bottom:15px;
}

.checkBox_space_main{
	flex:initial;
	padding:5px;
}

.checkBox_space_side{
	flex:1;
}

/* =================비밀번호==================== */
#noticeDetailModal{
	display:none;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index: 10;
}

.modalBlack{
	position:absolute;
	top:0;
	left:0;
	background-color:black;
	opacity: 0.3;
	width:100%;
	height:1300px;
}

.noticeModalContent{
	position: absolute;
	background-color:white;
	padding:10px;
	top:20%;
	left:20%;
	width:60%;
	text-align:right;
}
